<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
  <title>Discador Webex</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="ionicons.min.css" rel="stylesheet" type="text/css" />
  <link href="css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script>
    var audio = new Audio('blop.mp3');
    $(document).ready(function () {
      $("#iniciar").click(function () {
        $('#result').fadeIn(2000);
        $(this).attr("disabled", true);
        $("#parar").attr("disabled", false);
        $("#status").html('Teste Iniciado Com Sucesso <i class="fa fa-check" aria-hidden="true"></i>');
        executar = true;
        audio.play();
        iniciar();
      });
      $("#parar").click(function () {
        $(this).attr("disabled", true);
        $("#iniciar").attr("disabled", false);
        document.getElementById('numbers').disabled = false;
        $("#status").html('Teste parado <i class="fa fa-pause" aria-hidden="true"></i>');
        executar = false;
      });

    });
    var executar = true;
    function titulo(novo) {
      document.title = novo;
    }
    function contar_total(lista) {
      'use strict';
      var array = lista.value.split("\n");
      var total = array.length;

      if (array.length === undefined) {
        total = 0;
      }
      $("#tudo_conta").text(total);

    }

    function remover_linha(id) {
      var lines = $(id).val().split('\n');
      lines.splice(0, 1);
      $(id).val(lines.join("\n"));
    }
    function start() {
      if (!executar) {
        return false;
      }
      var lista = document.getElementById('numbers');
      var url = document.getElementById('url').value;

      var array = lista.value.split("\n");

      var promises = [];
      for (let i = 0; i < array.length; i++) {
        // The await suspends the for loop until the function has started.
        console.log([i] + ' ' + array[i]);

        number = array[i];
        count = [i]
        var call = {
          url,
          count,
          number
        }
        promises.push(startchk(call));

      }
      Promise.all(promises);
      notificar("Teste Finalizado Com Sucesso!");
      document.getElementById('iniciar').disabled = false;
      document.getElementById('numbers').disabled = false;
      status('<i class="fa fa-check" aria-hidden="true"></i> Teste Finalizado com Sucesso! ');
      //$("#modal_done").modal();
      return;
    }
    function reseta() {

      $("#reprovada_conta").text("0");
      $("#testado").text("0");
      $("#tudo_conta").text("0");
      status('Aguardando inicio', 'dark');
    }
    function unique(array) {
      return array.filter(function (el, index, arr) {
        return index == arr.indexOf(el);
      });
    }
    function remover_linhas_vazias() {
      var array = $("#numbers").val().split('\n');
      array = unique(array);
      for (i = 0; i < array.length; i++) {
        array[i] = array[i].trim();
        array[i] = array[i].replace('   ', '');
        if (array[i].length === 0) {
          array.splice(i, 1);
        }

      }

      $("#numbers").val(array.join("\n"));
    }



    function status(text, type) {
      if (!type) {
        type = "primary";
      }
      $("#status").removeClass().addClass("label label-" + type).html(text);
    }

    function iniciar() {

      document.getElementById('numbers').disabled = true;
      reseta();
      var lista = document.getElementById("numbers").value;
      if (lista.length == "0") {
        $("#modal_mailpass").modal();
        document.getElementById('iniciar').disabled = false;
        document.getElementById('numbers').disabled = false;
        $('#result').fadeOut(1000);
        status('<i class="fa fa-times" aria-hidden="true"></i> Lista Inválida!', 'warning');
        return;
      }
      contar_total(document.getElementById("numbers"));
      status('<i class="fa fa-check" aria-hidden="true"></i> Iniciando Testador', 'dark');

      start();

    };
    function notificar(msg, icone) {

      if (Notification.permission === "granted") {
        var options = {
          body: msg,
          icon: "notificacao.jpg",
          dir: "ltr"
        };
        var notification = new Notification("Informação", options);
      } else if (Notification.permission !== 'denied') {
        Notification.requestPermission(function (permission) {
          if (!('permission' in Notification)) {
            Notification.permission = permission;
          }

          if (permission === "granted") {
            var options = {
              body: msg,
              icon: "notificacao.jpg",
              dir: "ltr"
            };
            var notification = new Notification("Informação", options);
          }

        })
      }
    }
    var antes;
    function convert_sec(ms) {
      var seconds, x;
      x = ms / 1000;
      seconds = x % 60;
      if (seconds > 1) {
        seconds = seconds.toString().substring(0, 4);
        return seconds + " s";
      }
      return ms + "ms";
    }
    function startchk(call) {

      $.ajax({
        url: '/call',
        type: 'POST',
        headers: {
          "content-type": "application/json"
        },
        crossDomain: true,
        data: "{\n\t\"url\": \"" + call.url + "\",\n\t\"number\": \"" + call.number + "\",\n\t\"count\": \"" + call.count + "\"\n}",
        beforeSend: function () {
          antes = Date.now();
          status('<i class="fa fa-asterisk fa-spin" aria-hidden="true"></i> Testando ... ', 'info');
        },
        success: function (data) {  
          console.log(data);
          var time_req = Date.now() - antes;
          //var array = lista.value.split("\n");
          time_req = convert_sec(time_req);
          if (data.includes("desabilitado")) {
            $("#reprovadas").append(data);
            $("#reprovada_conta_2").text(countlixo);
          }
          else if (data.includes("habilitado")) {
            $("#aprovadas").append(data);
            //$("#aprovada_conta_1").text(countlive);
          }
        },
        error: function () {
        }
      });
      function randomFrom(array) {
        return array[Math.floor(Math.random() * array.length)];
      }


    }
  </script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-xs-1 col-lg-1"></div>
      <div class="col-md-11 col-lg-11 col-xs-11" style="margin-top: 2%;">
        <center>
          <img height="250" src="logo.png">
        </center>
        <div class="panel">
          <div class="panel-body">
            <div class="col-xs-12">
              <div class="row">
                <input name="url" id="url" onkeyup="contar_total(this);" placeholder="Url" style="width: 100%;">
              </div>
              <div class="row">
                <textarea name="numbers" id="numbers" onkeyup="contar_total(this);" placeholder="Destinos"
                  style="height: 150px; width: 100%; " rows="7"></textarea>
              </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div class="row">
              <center>
                <div>
                  Status: <span id="status" class="label label-default">Esperando Comando!</span><br>
                  <p></p>
                  Total: <span id="tudo_conta" class="label label-default">0</span>

                </div>
                <br />
              </center>
              <br />
              <div class="col-md-6 col-xs-6 col-lg-6">
                <button type="button" class="btn btn-success btn-block" id="iniciar">Iniciar</button>
              </div>
              <div class="col-md-6 col-xs-6 col-lg-6">
                <button type="button" class="btn btn-danger btn-block" id="parar" disabled="disabled">Parar</button>
              </div>
            </div>
            <hr />

          </div>
        </div>
      </div>
      <div class="col-md-1 col-xs-1 col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-xs-1 col-lg-1"></div>
      <div class="col-md-11 col-xs-11 col-lg-11">
        <div id="result" style="display: none;">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
              <div class="panel">
                <div class="panel-heading">
                  Habilitados &nbsp;
                  <span class="label label-success" id="aprovada_conta_1">0</span>
                  <span class="pull-right">
                    <button type="button" class="btn btn-xs btn-warning" id="btn_live"><i class="fa fa-minus"></i>
                      <font color="black"> Esconder </font>
                    </button>
                  </span>
                </div>
                <div class="panel-body">
                  <div id="aprovadas"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
              <div class="panel">
                <div class="panel-heading">
                  Desabilitados &nbsp;
                  <span class="label label-danger" id="reprovada_conta_2">0</span>
                  <span class="pull-right">
                    <button type="button" class="btn btn-xs btn-warning" id="btn_die"><i class="fa fa-minus"></i>
                      <font color="black"> Esconder </font>
                    </button>
                  </span>
                </div>
                <div class="panel-body">
                  <div id="reprovadas"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-1 col-xs-1 col-lg-1"></div>
      </div>
    </div>

    <!-- MODAL -->

    <div class="modal fade" id="modal_mailpass" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Oppppsss...</h4>
          </div>
          <div class="modal-body">
            Lista de Geradas não encotrada
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal_done" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sucesso</h4>
          </div>
          <div class="modal-body">
            Todas Geradas foram testadas.
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script type="text/javascript">
      function selectText(containerid) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(document.getElementById(containerid));
          range.select();
        } else if (window.getSelection()) {
          var range = document.createRange();
          range.selectNode(document.getElementById(containerid));
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
        }
      }
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#btn_live').click(function () {
          $('#aprovadas').toggle(1000);
        });
        $('#btn_die').click(function () {
          $('#reprovadas').toggle(1000);
        });
        $('#btn-sock-hide').click(function () {
          $('#sock_ruim').toggle(1000);
        });

      });
    </script>
</body>