<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enviar chamadas</title>
</head>
<body>

    <h2>Formulário de chamadas<h2>
    <form action="/search/valids" method="POST">
        <input type="text" placeholder="Empresa" name="empresa">
        <input type="text" placeholder="id da empresa" name="id">
        
        <button type="submit">Enviar</button>
    </form> 

</body>
</html>